body{
    margin:5px;
    padding:5px;
    line-height:1.15;
    background-color: aqua;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav  li {
   position:relative;
   display:inline-block;
   list-style-type: none;
   font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
   color: #222;
   padding: 40px; 1rem;
   border: 2px solid black;
   border-radius: 50%;
   background-color: red;
}
main{
   width: 24%;
   padding: 12px;
   margin: 0;
   border: 3px;
   border-style: dotted;
   border-top-left-radius: 5px;
}
]
